<form [formGroup]="myFormGroup!" (ngSubmit)="onSubmit()">
	<h2 mat-dialog-title>{{title}}</h2>
	<!-- <pre>{{myFormGroup?.value | json }}</pre> -->
	<mat-dialog-content class="mat-typography">
		<div class="container-fluid">

			<div class="row">
				<div class="col-12 col-md-6" *ngIf="getControl('secondParty') as secondPartyCtl">
					<ng-container *ngIf="accounts$ | async as _accounts">
						<app-input-field [type]="'select'" [isMultipleSelect]="false" [selectOptions]="_accounts || []"
							[selectOptionKey]="'id'" [selectOptionTitle]="'fullName'" [placeholder]="'Select subscriber account'"
							[label]="'Subscriber account'" [isWithLabel]="true" [formControl]="secondPartyCtl" class="w-100">
						</app-input-field>
					</ng-container>
				</div>
				<div class="col-12 col-md-6" *ngIf="getControl('time') as timeCtl">
					<app-input-field [type]="'time'" [placeholder]="'Time'" [label]="'Time'" [isWithLabel]="true"
						[formControl]="timeCtl" class="w-100">
					</app-input-field>
				</div>

			</div>

			<div class="row" *ngIf="getControl('description') as descriptionCtl">
				<div class="col-12">
					<app-input-field [type]="'textarea'" [isWithLabel]="true" [label]="'Description'"
						[placeholder]="'Description'" [formControl]="descriptionCtl" class="w-100">
					</app-input-field>
				</div>
			</div>

			<div class="row">

				<div class="col-12 col-md-6" *ngIf="getControl('repeat') as repeatCtl">
					<app-input-field [type]="'select'" [isMultipleSelect]="false" [selectOptions]="repeatSelectOptions  || []"
						[selectOptionKey]="'id'" [selectOptionTitle]="'title'" [placeholder]="'Repeat'" [label]="'Repeat'"
						[isWithLabel]="true" [formControl]="repeatCtl" class="w-100">
					</app-input-field>
				</div>

				<div class="col-12 col-md-6" *ngIf="getControl('count') as countCtl">
					<app-input-field [type]="'number'" [placeholder]="'Count'" [label]="'Count'" [isWithLabel]="true"
						[formControl]="countCtl" class="w-100">
					</app-input-field>
				</div>

			</div>

			<div class="row mt-3">
			</div>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions>
		<div class="row justify-content-end w-100">
			<button class="m-1 btn btn-primary" type="submit" [disabled]="myFormGroup?.invalid">Save</button>
			<button type="button" class="m-1 btn btn-secondary" (click)="modal.close()">Cancel</button>
		</div>
	</mat-dialog-actions>

</form>
