<div class="container-fluid">
	<div class="row mt-3">
		<!-- <app-input-field [type]="'text'" ></app-input-field> -->
		<input placeholder="test-1" class="form-control">
	</div>
	<div class="row mt-3">
		<!-- <app-input-field [type]="'text'" ></app-input-field> -->
		<input placeholder="test-1" class="form-control">
	</div>
	<div class="row mt-3">
		<!-- <app-input-field [type]="'text'" ></app-input-field> -->
		<input placeholder="test-1" class="form-control">
	</div>
	<div class="row mt-3">
		<!-- <app-input-field [type]="'text'" ></app-input-field> -->
		<input placeholder="test-1" class="form-control">
	</div>
	<div class="row mt-3">
		<!-- <mat-dialog-actions align="end">
			<button class="mx-1 btn btn-primary">Submit</button>
			<button class="mx-1 btn btn-secondary" mat-dialog-close>close</button>
		</mat-dialog-actions> -->
	</div>
</div>
