<style>
	tr>th:first-child {
		width: 45%;
	}

	tr>td {
		word-break: break-word;
	}
</style>
<div class="card">
	<div class="card-body w-auto pt-4 px-0">
		<span class="text-primary h5">{{title}}</span>
		<!-- <div class="container"> -->

		<div class="d-flex w-100">
			<button type="button" (click)="onAddFileClick()" class="ml-auto btn btn-outline-primary btn-primary">
				<i class="fa fa-plus"></i>
			</button>
		</div>
		<div class="px-2 w-100">
			<table [ngStyle]="style" class="m-2 table table-sm table-hover table-borderless">
				<caption>{{((data$ | async) || []).length}} Files </caption>
				<thead class="border-bottom border-dark">
					<tr>
						<th>Name</th>
						<th *ngIf="additionalField['size']">Size</th>
						<th *ngIf="additionalField['createdAt']">Uploaded at</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="text-muted">
					<ng-container *ngFor="let item of (data$ | async) || []">
						<tr>
							<td>
								<a [href]="item.path" target="_blank" class="text-info text-hover-primary">
									{{item.name}}
								</a>
							</td>

							<td *ngIf="additionalField['size']">{{ item.size | fileSize }}</td>

							<td *ngIf="additionalField['createdAt']">
								<span>{{item.createdAt}}
								</span>
							</td>

							<td>
								<a [appLoadingButton]="status===5 && deletingItem===item.id" class="text-primary pointer"
									(click)="onDeleteClick(item.id)">
									<i class="fa fa-trash on-hover"></i>
								</a>
							</td>
						</tr>
					</ng-container>

				</tbody>
			</table>
		</div>
	</div>
</div>
