<!-- TODO: Move the header and the Navbar to their own modules & components  -->
<!-- NAVBAR-->
<header class="header fixed-top header-animated">
	<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-white  shadow-sm py-3">
		<div class="container-fluid"><a class="navbar-brand" [routerLink]="['/'+routerMap.empty]">
				<img src="assets/theme/img/favicon.png" alt="..."></a>
			<span class="h4 m-0">Subscriptions</span>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav m-auto">
					<li class="nav-item">
						<a class="nav-link active" [routerLink]="['/'+routerMap.home]" [routerLinkActive]="'active'">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/'+routerMap.subscriptions]" [routerLinkActive]="'active'">Subscriptions
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Pages</a>
						<div class="dropdown-menu mt-3" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" [routerLink]="['/'+routerMap.home]">Homepage</a>
							<a class="dropdown-item" type="button" [routerLink]="['/'+routerMap.login]">
								Login
							</a>
							<a class="dropdown-item" type="button" [routerLink]="['/'+routerMap.signUp]">
								Sign up
							</a>
							<a class="dropdown-item" [routerLink]="['']">Contact us</a>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav">
					<ng-container *ngIf="!(auth.isLoggedIn$| async);else logoutBtnRef">
						<li class="nav-item mr-2">
							<!--  data-target="#quoteForm" data-toggle="modal" -->
							<a class="btn btn-primary" type="button" [routerLink]="['/'+routerMap.login]">
								Login
							</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-primary" type="button" [routerLink]="['/'+routerMap.signUp]">
								Sign up
							</a>
						</li>
					</ng-container>
					<ng-template #logoutBtnRef>
						<li class="nav-item dropdown" *ngIf="loggedInAccount$ | async as currentAccount">
							<a class="nav-link text-capitalize pointer" id="profile-drop-down-id" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								{{currentAccount.fullName}}
								<i class="fa fa-lg fa-user-circle pl-1 pr-4"></i>
								<!-- dropdown-toggle -->
							</a>
							<div class="dropdown-menu" aria-labelledby="profile-drop-down-id">
								<a class="dropdown-item" type="button" (click)="onLogout()">
									Log out
								</a>
							</div>
						</li>
					</ng-template>
				</ul>
			</div>
		</div>
	</nav>
</header>
