<form [formGroup]="form!" (ngSubmit)="onSubmit()">
	<div class="container-fluid bg-gray-200 d-flex m-0 p-0" style="min-height: 100vh;height: auto;">

		<div class="row card border m-auto p-3 row shadow-lg bg-primary-light col-12 col-md-6">


			<div class="card-body">
				<div class="row">
					<h4 class="card-title text-primary-1">{{'Sign up' | uppercase}}</h4>
				</div>
				<div class="row">
					<p class="text-primary">Create a new account...</p>
				</div>
				<div class="row pb-2 mb-3">
					<div class="input-group align-items-center">
						<div class="input-group-prepend">
							<label class="input-group-text" for="account-type-select-id">Account Type: </label>
						</div>
						<select id="account-type-select-id" class="col-3 custom-select" placeholder="Corporate Account"
							[formControlName]="'type'" name="type-select-name">
							<option [ngValue]="'personal'">Personal</option>
							<option [ngValue]="'corporate'">Corporate</option>
						</select>

					</div>
				</div>


				<div class="row">
					<app-input-field class="w-100" [placeholder]="'First Name'" [isWithLabel]="false"
						[formControlName]="'firstName'">
					</app-input-field>
				</div>
				<div class="row">
					<app-input-field class="w-100" [placeholder]="'Last Name'" [isWithLabel]="false"
						[formControlName]="'lastName'">
					</app-input-field>
				</div>
				<div class="row">
					<app-input-field class="w-100" [placeholder]="'Email'" [isWithLabel]="false" [type]="'email'"
						[formControlName]="'email'">
					</app-input-field>
				</div>
				<div class="row">
					<app-input-field class="w-100" [placeholder]="'Password'" [isWithLabel]="false" [type]="'password'"
						[formControlName]="'password'"></app-input-field>
				</div>
				<div class="row">
					<app-input-field class="w-100" [placeholder]="'Password'" [isWithLabel]="false" [type]="'password'"
						[formControl]="passwordFormControl!"
						[errors]="passwordFormControl?.value !== formControl('password')?.value ? {notMatchedPassword:true}:null">
					</app-input-field>
				</div>
				<div class="row pb-2 justify-content-center">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
						<label class="form-check-label text-primary" for="flexCheckChecked">
							I agree to the Terms of Services and Privacy Policy
						</label>
					</div>
				</div>
				<div class="row pb-2 justify-content-center">
					<button [disabled]="!form?.valid" class="mb-1 btn btn-secondary" type="submit">Sign up</button>
				</div>
				<div class="row pb-2 justify-content-center">
					<a class="pointer text-sm">Are you already a member ?</a>
				</div>
			</div>
		</div>
	</div>


</form>
