@import "~@angular/material/theming";
@include mat-core();
$subscriptions-web-ui-primary: mat-palette($mat-indigo);
$subscriptions-web-ui-accent: mat-palette($mat-pink, A200, A100, A400);
$subscriptions-web-ui-warn: mat-palette($mat-red);

$subscriptions-web-ui-theme: mat-light-theme(
	(
		color: (
			primary: $subscriptions-web-ui-primary,
			accent: $subscriptions-web-ui-accent,
			warn: $subscriptions-web-ui-warn,
		),
	)
);

@include angular-material-theme($subscriptions-web-ui-theme);

html,
body {
	height: 100%;
	max-width: 100vw;
}
body {
	margin: 0;
	width: 100vw;
}
.input-group > .input-group-prepend > .input-group-text {
	background-color: transparent;
	border: 0;
}

.mt-6rem {
	margin-top: 6rem;
}

// Nav

// * hamburger button
.navbar-light .navbar-toggler {
	border: 0;
}

// Modal (MAT)
mat-dialog-container#modal-component {
	border: 3px solid #262626;
	border-radius: 11px;
	background-color: #1a1a1a;
}
