/* You can add global styles to this file, and also import other style files */
@import "custom.scss";
@import "~bootstrap/scss/bootstrap";
html,
body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
